{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block sidebar %}
    <div class="dropdown-divider"></div>
    <div class="nav-sidebar list-group">

        <a href="/dashboard"
           class="list-group-item list-group-item-action{% if app.request.attributes.get('_route') starts with 'classes' %} active{% endif %}">
            <i class="fa fa-rocket" aria-hidden="true"></i>
            <span class="hidden-sm-down">My Classes</span>
        </a>

    </div>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p>Hello User</p>
                <p>You are sign up for 1 upcoming class</p>
            </div>
        </div>
    </div>
{% endblock %}
