{% extends 'base.html.twig' %}

{% block sidebar %}
    <div class="dropdown-divider"></div>
    <div class="nav-sidebar list-group">

        <a href="/dashboard"
           class="list-group-item list-group-item-action{% if app.request.attributes.get('_route') starts with 'dashboard' %} active{% endif %}">
            <i class="fa fa-rocket" aria-hidden="true"></i>
            <span class="hidden-sm-down">My Dashboard</span>
        </a>

        <a href="/schedule"
           class="list-group-item list-group-item-action{% if app.request.attributes.get('_route') starts with 'schedule' %} active{% endif %}">
            <i class="fa fa-rocket" aria-hidden="true"></i>
            <span class="hidden-sm-down">Schedule of Classes</span>
        </a>

    </div>
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
